*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

.nav img{
    position: fixed;
    left: 145px;
    width: 40x;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    z-index: 1;
}
.nav{
    position: fixed;
    background-color: black;
    border-bottom: 2px solid #000000;
    text-align: right;
    height: 70px;
    width: 100%;
    line-height: 70px;
    z-index: 1;
}

.menu{
    margin: 0 140px 0 0 ;
   }
   
.menu a
{   
    color: white;
    font-size: 14px; 
    margin: 0 30px 0 20px;
    line-height: 60px;
    text-decoration: none;
}


label{
    color: white;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle{
    display:none;
}

header{
    background-image: url("image/image.jpg");
    background-size: cover;
    background-position: center;
    height: 480px;
}

.Ecole{
    font-size: 20px;
    color: white;
    margin-top: 0px;  
    padding: 160px;
    letter-spacing: 2px; 

}

.titre0{
    font-size: 40px;
}

.Ecole p{
    margin-top: 20px;
}

.butt{
    display: flex;
    margin-top:-100px;
    margin-left: 160px;
}

.B0,.B1,.B2, .B3{
    font-size: 15px;
    color:white;
    background-color: #008AFF;
    border-radius: 50px;
    height:50px;
    width: 170px;
    border: none;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
    cursor: pointer;
}

.B1{
    background-color: white;
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    margin-right: 20px;
}

.B2{
    width: 200px;
}

button:hover{
    background-color: white;
    box-shadow: 0px 15px 20px rgba(0,0,128, 0.3);
    color: #57A9EC;
    transform: translateY(-5px);
}

.espace{
    background-color: white;
    width: 100%;
    height:70px;
    
}

.Partie1{
    flex-direction: column;
}

.titre1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.parag1{
    margin-left: 40px;
    line-height: 25px;
    color: black;
    width: 95%;
    margin: auto;
}



.Partie2{
    display: flex;
    height: 600px;
    width: 95%;
    margin: auto;
}

.part2{
    background-color: #008AFF;
}

.sousTitre{
    text-align: center ;
    color :#008AFF;
    font-weight: bold;
    font-size: 40px;
}

.bgc{
    background-color: white;
    width: 40%;
    margin:auto;
}

.sousTitre2{
    margin-top: 54px;
    text-align: center ;
    color :white;
    font-size: 30px;
}

.parag2{
    margin-top: 40px;
    color: white;
    line-height: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    text-align: center;
    font-family: montserrat;
}


.Partie3{
    display: flex;
    width: 95%;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
}


.parag3, .parag4, .parag5{
    margin-top: 70px;
    color: black;
    line-height: 30px;
    width:95%;
    margin:auto;
    font-size: 20px;
    font-family: montserrat;
}

.parag4{
    margin-top:20px;
    line-height: 40px;
    margin-left: 30px;
}

   
.image4{
    width:95%;
    margin:auto;  

}


.prog{
    margin-top: 10px;
    text-align: center;
}
.btnDecouv{
    color: white;
    background-color: #008AFF;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    width: 300px;
    cursor: pointer;
}

















footer{
    height: 100px;
    background-color: #000;
}
.foo{
    padding-top: 20px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.foo1,.foo2,.foo3{
    width: 33%;
    
}

.foo  p {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 1.7;
    font-family: 'Montserrat';
    letter-spacing: 0.08em;
}

.foo1  p {
    text-align: left;
}

.foo2  p {
    text-align: center;
}

.foo3  p {
    text-align: right;
}

.icons
{
    text-align: right;
}

.icons a
{
    display: inline;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    text-align: right;
    line-height: 35px;
    margin-right: 13px;
    text-decoration: none;
}
.mail i
{
    font-size:13px; 
    color: #666666;
}
.mail a
{
    color:#337ab7;
    cursor: pointer;
    font-size: 18px;
}

 







@media only screen and (max-width: 1200px){


    label {
        display: block;
        cursor: pointer;
    }

    .menu img{
    position: fixed;
    left: 175px;
    top:6px;
    width: 40x;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    }

    .menu  {
    text-align: center;
    width: 100%;
    display: none;
    }


    .menu a {
    display:block;
    border-bottom:1px solid #EAEAEB;
    margin:0;
    background-color: black;
    color: white;
    text-align: center;
    }

    .B0{
        width: 90%;
        margin:auto;
        border: 1px solid white;
    }

    #toggle:checked + .menu{
    display: block;     
    }


    .descEcole{
    justify-content: center;
    }

    .Ecole{ 
    padding-left: 60px;
    padding-right: 60px;
    }

    .butt{
     margin-left: 50px;
    }
        

    button{
    background-color:#038DFE;
    color: white;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    width:200px;
    }
    
    
    
    .Partie2{  
        flex-direction: column;
       
    }

    .image2{
        width: 100%;
    }

    .part2{
        width: 100%;
    }

    .Partie3{
        flex-direction: column;
    }

    .parag3{
        margin-top:500px;
    }

 


   
  
    
    footer{
        margin-top: 50px;
        height: 200px;
    }
    .foo{
        flex-direction: column;
    }
    .foo1,.foo2,.foo3{
        width: 100%;
    }
    .icons,.foo3 p,.foo2 p ,.foo1 p,.mail
    {
        text-align: center;
    }
}
